header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5% 0 5%;
    background-color: cornflowerblue;
    color: white;
}

.div1 {
    text-align: right;
}

h4 {
    margin-top: -20px;
}

a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}